* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}

* a {
    text-decoration: none; /*ลบขีดเส้นใต้ link*/
}

* li {
    list-style: none; /*ลบจุดข้างหน้าของแท็ก li*/
}

.container {
    position: relative;
    min-height: 100vh;
}

.bg {
    width: 100%;
    height: 100%;
    position: relative;
}

.bg::after { /* after คือการจัดการแค่ bg */
    content:""; /* ต้องกำหนด content เป็นค่าว่าง */
    position:absolute;
    top: 0;
    left: 0;
    width: 100%; /* ต้องกำหนด width & height เสมอ */
    height: 100%;
    background-image: url('https://plus.unsplash.com/premium_photo-1673240367277-e1d394465b56?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1769&q=80');
    z-index: -1; /* นำ bg ไปอยู่ด้านหลัง text */
    background-size: cover; /* ปรับภาพ bg ให้พอดีกับจอ */
    background-position: center;
    filter: brightness(45%);
}

.menu {
    position: relative;
    width: 85%;
    height: 15vh;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo a{ /*class logo เข้าถึงตัวแท็ก a*/
    font-size: 2rem;
    color: white;
}

.menu ul {
    display: flex; /*จัดให้อยู่แถวเดียวกัน*/
}

.menu ul li {
    padding: 0 17px;  /*เว้นช่องว่างระหว่างเมนู Home Travel About Contact*/
}

.menu ul li a {
    font-weight: bold;
    color: white;
    font-size: 14px;
}

/* Contain & Card */
.content {
    width: 85%;
    margin: 0 auto;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;

}

.content .header,.grid-card {
    width: 50%;
    position: relative;
}

.content .header {
    color: white;
    padding: 20px;
}

.content .header h3 {
    font-size: 2.3rem;
    letter-spacing: 2px;
}

.content .header h3 i {
    color: orange;
}

.content .header h1 {
    font-size: 4rem;
}

.content .header p{
    opacity: .6;
}

.grid-card {
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.grid-card .box {
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    border-radius: 25px;
    transition: .4s;
    position: relative;
}

.bg1 {
    background-image: url('https://images.unsplash.com/photo-1518789244264-e916944e373d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1763&q=80');
}

.bg2 {
    background-image: url('https://images.unsplash.com/photo-1507525428034-b723cf961d3e?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1773&q=80');
}

.bg3 {
    background-image: url('https://images.unsplash.com/photo-1502085671122-2d218cd434e6?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1852&q=80');
}

.bg4 {
    background-image: url('https://images.unsplash.com/photo-1682685797795-5640f369a70a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDF8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1771&q=80');
}

.content .box h2 {
    position: absolute;
    bottom: 7px;
    left: 15px;
    color: white;
}

.container .box:hover {
    transform: translateY(-15px);
}

.header button{
    border: solid 3px white;
    background: none;
    color: white;
    font-size: 2rem;
    padding: 5px 15px; /*เว้นระยะห่าง บนล่าง 5,ซ้ายขวา 15 จากขอบใน border ของ button*/
    margin: 15px 0; /*เว้นระยะห่าง บนล่าง 15,ซ้ายขวา 0 จากขอบนอก border ของ button*/
    cursor: pointer; /*เปลี่ยนรูปเมาส์เป็นรูปมือ เมื่อเอาเมาส์ไปโดน button*/
}

.header button:hover {
    background: white; /*พื้นหลัง button สีขาว*/
    color: black; /*สี font สีดำ*/
}